@page

<div class="jumbotron">
    <h1 class="display-3">Welcome to Northland B2B</h1>
    <p class="lead">We supply products to our customers.</p>
    <hr />
    <p>It's @Model.DayName! Our customers include restoraunts, hotels and cruize lines.</p>
    <p>
        <a class="btn btn-primary" href="suppliers">
            Learn more about our suppliers
        </a>
    </p>
    <p>
        <a class="btn btn-primary" href="orders">
            Orders information
        </a>
    </p>
    <p>
        <a class="btn btn-primary" href="northwindfeatures/employees">
            Contact our employees
        </a>
    </p>
</div>


@functions {

    public string DayName { get; set; } = null!;

    public void OnGet()
    {
        ViewBag.Title = "Northwind B2B";
        Model.DayName = DateTime.Now.ToString("dddd");
    }

}
